<ng-container>
  <div class="game">
    <header class="header">
      <div class="nums">
        <ng-container *ngFor="let num of (score$ | async)"  [ngTemplateOutlet]="numbersView" [ngTemplateOutletContext]="{val:num}"></ng-container>
      </div>
      <div class="smile-container">
        <div #smile class="smile image" [ngStyle]="smile$ | async | getIcon"></div>
      </div>
      <div class="nums">
        <ng-container *ngFor="let num of (time$ | async)"  [ngTemplateOutlet]="numbersView" [ngTemplateOutletContext]="{val:num}"></ng-container>
      </div>
    </header>
    <main class="playground" #playground>
      <ng-container *ngFor="let rowData of (matrix$ | async)" [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{rowData: rowData}"></ng-container>
    </main>
  </div>
  <ng-container *ngTemplateOutlet="sizeForm">
  </ng-container>
</ng-container>

<!--Показывать время или очки -->
<ng-template #numbersView let-numberToDisplay="val">
  <div class="image" [ngStyle]="numberToDisplay | getIcon">

  </div>
</ng-template>

<!--Ряд ячеек -->
<ng-template #row let-rowData="rowData">
  <div class="row">
    <ng-container *ngFor="let cellData of rowData" [ngTemplateOutlet]="cell" [ngTemplateOutletContext]="{cellData: cellData}"></ng-container>
  </div>
</ng-template>


<!-- Ячейка -->
<ng-template #cell let-cellData="cellData">
  <div class="cell image" (mousedown)="cellMouseDown(cellData, $event)" (click)="cellLeftClickHandler(cellData)" (contextmenu)="$event.preventDefault();cellRightClickHandler(cellData)" [ngClass]="{opened: cellData.state$.value === 1}" [ngStyle]="cellData | getIcon">
  </div>
</ng-template>

<!-- Инпуты изменения ширины и высоты поля -->

<ng-template #sizeForm>
  <div class="form" [formGroup]="form">
      <input type="number" formControlName="width">
      <input type="number" formControlName="height">
      <button #button class="button" type="button" name="button">submit</button>
  </div>
</ng-template>
