$backColor: rgb(192,192,192);
$shadowColor: rgb(123,123,123);

@mixin shadow{
  box-shadow: inset 1px 1px 3px $shadowColor;
}

.game{
  font-family: serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 10px;
  background-color: $backColor;
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    @include shadow;
    .nums{
      display: flex;
    }
  }
  .playground{
    @include shadow;
    width: max-content;
    margin: 0px;
    cursor: pointer;
    .row{
      display: flex;
      width: max-content;
      margin: 0px;
    }
    .cell{
      width: 20px;
      height: 20px;
      box-sizing: content-box;
    }
  }
}

.image{
  background-repeat: no-repeat;
  background-image: url(c:/sapper-VK-test-/src/assets/images/sprite.png);
  margin: 0px;
}

.number{
  background-position: 0px 0px;
}

.smile{
  cursor: pointer;
}

.opened{
  cursor: default;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .input{
    width: 100px;
    height: 20px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
  }
  .button{
    margin-top: 15px;
    width: 70px;
  }
  .error{
    color: coral;
    font-size: 12px;
  }
}
